@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';

@theme {
  --font-*: initial;
  --font-selima: Selima, script;

  --breakpoint-*: initial;
  --breakpoint-xs: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --background-image-vm-logo: url('/images/vm-logo.svg');
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: 'Selima';
  font-style: normal;
  font-display: optional;
  src: url('/fonts/Selima.woff2') format('woff2');
}

/* Snipcart Customization */
#snipcart * {
  /* Font family matching Tailwind's sans-serif */
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}
#snipcart .snipcart__font--tiny {
  font-size: 14px;
}
#snipcart label,
.snipcart__font--slim,
.snipcart-billing-completed__information,
.snipcart-cart-header {
  font-weight: 400;
}
#snipcart .snipcart-item-line--cart-edit .snipcart-item-line__title {
  padding-left: 0;
}

/* Fix for transparent checkout button after Tailwind V3 upgrade */
.snipcart-button-primary.snipcart-base-button {
  color: #fff;
  color: var(--color-buttonPrimary, #fff);
  border-color: transparent;
  border-color: var(--borderColor-buttonPrimary, transparent);
  background-color: #1a4db3;
  background-color: var(--bgColor-buttonPrimary, #1a4db3);
}
