@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Selima';
  font-style: normal;
  font-display: optional;
  src: url('/fonts/Selima.woff2') format('woff2');
}

/* Snipcart Customization */
#snipcart * {
  /* Font family matching Tailwind's sans-serif */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#snipcart .snipcart__font--tiny {
  font-size: 14px;
}
#snipcart label,
.snipcart__font--slim,
.snipcart-billing-completed__information,
.snipcart-cart-header {
  font-weight: 400;
}
#snipcart .snipcart-item-line--cart-edit .snipcart-item-line__title {
  padding-left: 0;
}

/* Fix for transparent checkout button after Tailwind V3 upgrade */
.snipcart-button-primary.snipcart-base-button {
  color: #fff;
  color: var(--color-buttonPrimary, #fff);
  border-color: transparent;
  border-color: var(--borderColor-buttonPrimary, transparent);
  background-color: #1a4db3;
  background-color: var(--bgColor-buttonPrimary, #1a4db3);
}
