@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is how you add custom CSS to a Tailwind layer
@layer base { }
*/
@font-face {
  font-family: 'Selima';
  font-style: normal;
  font-display: optional;
  src: url('/fonts/Selima.woff2') format('woff2');
}
